@charset "utf-8";

.wrapper {
    width: 400px;
    margin: 0 auto;
}

.header {
    background-color: #141f40;
    height: 100px;
    position: relative;
}

.squares_wrapper {
    background-color: #fff;
    font-size: 0;
    padding: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.square {
    background-color: #a9004b;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 10px;
}

.square:first-child {
    margin-left: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.body-left {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.body-right {
    width: 250px;
    height: 250px;
    padding: 40px;
    box-sizing: border-box;
    float: right;
    background-color: #8c2727;
}

.rect {
    background-color: #ff863f;
    border: 5px solid #fff;
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
}

.rect:last-child {
    margin-bottom: 0;
}

.footer {
    background-color: #d98d30;
    height: 100px;
}